<h2 mat-dialog-title>
  <mat-icon>block</mat-icon>
  {{ 'BLOCK_DIALOG.TITLE' | translate:{ name: data.displayName } }}
</h2>

<div mat-dialog-content>
  <p class="intro-text">{{ 'BLOCK_DIALOG.INTRO' | translate }}</p>
  
  <ul class="block-effects">
    <li>
      <mat-icon>visibility_off</mat-icon>
      <span>{{ 'BLOCK_DIALOG.EFFECT_DISCOVER' | translate }}</span>
    </li>
    <li>
      <mat-icon>dynamic_feed</mat-icon>
      <span>{{ 'BLOCK_DIALOG.EFFECT_FEED' | translate }}</span>
    </li>
    <li>
      <mat-icon>chat_bubble_outline</mat-icon>
      <span>{{ 'BLOCK_DIALOG.EFFECT_MESSAGES' | translate }}</span>
    </li>
    <li>
      <mat-icon>delete_outline</mat-icon>
      <span>{{ 'BLOCK_DIALOG.EFFECT_HISTORY' | translate }}</span>
    </li>
    <li>
      <mat-icon>undo</mat-icon>
      <span>{{ 'BLOCK_DIALOG.EFFECT_UNDO' | translate }}</span>
    </li>
  </ul>

  @if (error()) {
    <div class="error-message">
      <mat-icon>error</mat-icon>
      {{ error() }}
    </div>
  }
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()" [disabled]="loading()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button 
    mat-flat-button 
    color="warn" 
    (click)="confirmBlock()"
    [disabled]="loading()">
    @if (loading()) {
      <mat-spinner diameter="20"></mat-spinner>
    } @else {
      {{ 'BLOCK_DIALOG.CONFIRM_BUTTON' | translate }}
    }
  </button>
</div>
